
<%- include('partials/header'); -%>

<h1>Home</h1>

<% posts.forEach(function(post){  %>
<h2><%= post.title %></h2>
<p class=post-article><%= post.content.substring(0,100) + " ..."%> <a href="/posts/<%=post._id%>"> Read more</a></p>

<% })  %>
<%- include('partials/footer'); -%>
